$pipe-length: 160px;

footer {
  .col-12:not(:first-child) {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: $pipe-length;
      left: 0;
      top: calc(50% - calc($pipe-length/2));
      background: #e3e3e3;
    }
  }
}

.footer-logo {
  padding: 3rem;
}

@media (max-width: 991.98px) {
  footer {
    .col-12:not(:first-child) {
      &:before {
        width: 0;
      }
    }
  }

  .footer-logo {
    max-width: 400px;
  }

  .footer-links {
    text-align: center;
    margin: 1rem 0;
  }
}
