.hero-title {
	font-size: 5rem;
  font-family: 'Circular Std';
  font-weight: bold;
  line-height: 1em;
  color: white;
}

.hero-container {
  background: url('/images/hero/bg-desktop.jpg') no-repeat center;
  background-size: cover;
  padding-top: 80px;
  max-width: 2200px;
  margin: 0 auto;
  height: 700px;

  @media (max-width: 767px) {
    background: url('/images/hero/bg-mobile.jpg') no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    padding-top: 0;
    height: 790px;

    .subtitle {
      font-size: 1.25rem;
    }
  }
}

.subtitle {
	font-size: 1.75rem;
}

.faves-container {
	background: #f8f5f0;
}

.carousel-controls{
  position: absolute;
  right: 0;
  top: -61px;

  button[class^="carousel-faves-"]{
    background: none;
    border: none;
  }
}

.carousel-faves-prev {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 32px;
    width: 2px;
    background: white;
    right: -3px;
    bottom: 0;
  }
}

.faves-img {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 85%;
    right: 0;
    background: $salmon-full;
  }
}

.join-img {
  background: url('/images/join-sushi.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.insta-row {
  aspect-ratio: 1/1;
  padding-bottom: 20px;
}

.insta-mini-row {
  .col {
    padding-bottom: 20px;
    aspect-ratio: 1/1;
  }
}

.social-icon {
  height: 35px;
  vertical-align: text-top;
}