.category-btn {
  border: none;
  background: none;
  color: black;
  max-width: 90px;

  &:hover, &.active {
    color: $nori-full;
  }
}

.cross-checkbox {
  position: relative;

  &:checked {
    background: $tuna-red !important;
    border-color: $tuna-red !important;

    &:after {
      position: absolute;
      content: '';
      background: url("/images/white-cross.png") center;
      background-size: contain;
      height: 60%;
      width: 60%;
      top: 20%;
      left: 20%;
    }
  }
}

.menu-nav {
  background: $off-white;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 75%;
    right: 0;
    background: linear-gradient(to right, transparent, $off-white);
    z-index: 10;
    pointer-events: none;
    display: none;

    @media (max-width: 991.98px) {
      display: block;
    }
  }
}

.menu-categories-nav {
  overflow-x: auto;
  flex-wrap: nowrap !important;

  .nav-item {
    cursor: pointer;
  }

  .nav-link  {
    white-space: nowrap;

    &.active {
      color: $nori-full;
    }
  }

  .filter-btn {
    white-space: nowrap;
    position: relative;
    margin: 0 4rem 0 3rem;
    &:after {
        position: absolute;
        content: '';
        left: -2rem;
        height: 300%;
        top: -100%;
        width: 2px;
        background: $salmon-full;

        @media (max-width: 991.98px) {
          height: 200%;
          top: -50%;
        }
      }
  }
}

.offcanvas-filter {
  background: $off-white !important;
}

.item-modal-header {
  color: white;
}

.item-modal-body {
  background: white;
}

.item-modal-img {
  @media (max-width: 991.98px) {
    height: 300px;
    margin-bottom: 1rem;
  }
}

.menu-img {
  @media (max-width: 991.98px) {
    max-width: 50px;
    height: auto;
  }
}

.disclaimer {
  font-size: 0.75rem;
}