.nav-link {
	color: $grey-dark;
	font-size: 1.15rem;
	position: relative;
	z-index: 1;

	&:hover {
		color: $nori-full;
	}

	&::before {  
	  transform: scaleX(0);
	  transform-origin: bottom left;
	}

	&:hover::before {
	  transform: scaleX(1);
	  transform-origin: bottom left;
	}

	&::before {
	  content: " ";
	  display: block;
	  position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
	  background: $salmon-full;
	  z-index: -1;
	  transition: transform .3s ease;
	}
}

.order-mobile {
  position: relative;

  &::after {    content: "";
    position: absolute;
    display: block;
    height: 44px;
    width: 1px;
    background: $salmon-full;
    right: -18px;
    bottom: -4px;
  }

}

.title-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;

	@media (max-width: 991.98px) {
		height: 375px;
		background-position: bottom;

		h1 {
			font-size: 2.5rem;
		}
	}
}

.aboutus-hero {
	background-image: url("/images/headers/aboutus-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/aboutus-mobile.jpg");
	}
}

.careers-hero {
	background-image: url("/images/headers/careers-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/careers-mobile.jpg");
	}
}

.contact-hero {
	background-image: url("/images/headers/contact-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/contact-mobile.jpg");
	}
}

.menu-hero {
	background-image: url("/images/headers/menu-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/menu-mobile.jpg");
	}
}

.stores-hero {
	background-image: url("/images/headers/stores-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/stores-mobile.jpg");
	}
}

.tsandcs-hero {
	background-image: url("/images/headers/tsandcs-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/tsandcs-mobile.jpg");
	}
}

.tsandcs-nav {
	background: $salmon-light;
	font-weight: bold;
}