.nav-link {
	color: #000;
	font-size: 1.15rem;
	position: relative;
	z-index: 1;
	
	&::before {  
	  transform: scaleX(0);
	  transform-origin: bottom right;
	}

	&:hover::before {
	  transform: scaleX(1);
	  transform-origin: bottom left;
	}

	&::before {
	  content: " ";
	  display: block;
	  position: absolute;
	  top: 0; right: 0; bottom: 0; left: 0;
	  inset: 0 0 0 0;
	  background: $salmon-full;
	  z-index: -1;
	  transition: transform .3s ease;
	}
}