.main-nav {
	.nav-item:not(:first-child) .nav-link {
		border-left: 1px $grey-lighter solid;
	}
}

.nav-link {
	color: $grey-dark;
	font-size: 1.15rem;
	font-weight: bold;
	position: relative;
	z-index: 1;
	padding: 0.5rem 1.5rem !important;

	&:hover {
		color: $nori-full;
	}
}

.order-mobile {
  position: relative;

  &::after {    content: "";
    position: absolute;
    display: block;
    height: 44px;
    width: 1px;
    background: $salmon-full;
    right: -18px;
    bottom: -4px;
  }

}

.title-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;

	@media (max-width: 991.98px) {
		height: 375px;
		background-position: bottom;

		h1 {
			font-size: 2.5rem;
		}
	}
}

.aboutus-hero {
	background-image: url("/images/headers/aboutus-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/aboutus-mobile.jpg");
	}
}

.careers-hero {
	background-image: url("/images/headers/careers-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/careers-mobile.jpg");
	}
}

.contact-hero {
	background-image: url("/images/headers/contact-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/contact-mobile.jpg");
	}
}

.menu-hero {
	background-image: url("/images/headers/menu-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/menu-mobile.jpg");
	}
}

.stores-hero {
	background-image: url("/images/headers/stores-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/stores-mobile.jpg");
	}
}

.tsandcs-hero {
	background-image: url("/images/headers/tsandcs-desktop.jpg");

	@media (max-width: 991.98px) {
		background-image: url("/images/headers/tsandcs-mobile.jpg");
	}
}

.tsandcs-nav {
	background: $salmon-light;
	padding: 1rem;
	margin-bottom: 2rem;

	.nav-link{
		cursor: pointer;
		&.active {
			color: $nori-full;
		}
	}
}