$border-radius: 2px;

$btn-border-width: 2px;

$input-border-radius: 0;
$input-border-radius-sm: $input-border-radius;
$input-border-radius-lg: $input-border-radius;
$input-border-width: 0;

$thumbnail-padding: 0;
$thumbnail-border-width: 0;


$card-border-radius: 3px;
$card-border-width: 0;

$modal-content-bg: none;
$modal-content-border-width: 0;