$btn-border-radius: 0px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

$input-border-radius: 0;
$input-border-radius-sm: $input-border-radius;
$input-border-radius-lg: $input-border-radius;
$input-border-width: 2px;
$input-border-color: #000;

$thumbnail-padding: 0;
$thumbnail-border-width: 0;
