$salmon-full: #ed9a83;
$salmon-light: #F6E8E2;
$nori-full: #AFB378;
$nori-light: #F4F5D9;
$tuna-red: #c92430;
$ocean-full: #85AAD1;
$ocean-light: #D3E0EE;

$grey-dark: #343A40;
$grey-mid: #8B8B8B;
$grey-lighter: #D1D1D1;
$grey-light: #F3F5F6;

$off-white: #FDFAF5;